* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;   
}

:root{
    --WoodBark:#2F2621;
    --IndianTan:#4A261A;
    --FairPink:#F3E9DC;
    --Twine:#C08552;
    --CaputMortuum:#5E3023;
    --Rope:#895737;
}

body{
    background-color: var(--FairPink);
}


h1 {
    text-align: center;
    padding: 1px;
}

button{
    margin:20px;
    padding:10px;
    border:none;
    border-radius:15px;
    cursor: pointer;
    width:100%;
}

button:hover{
    background-color: var(--Rope);
    transition: ease-in-out 0.5s;
}

footer {
    padding: 20px;
    background-color: #8b5e3c;
    color: white;
    margin-top: auto;
}