.navbar h1 {
    margin: 0;
    font-size: 35px !important;
    padding: 0;
    line-height: 1;
    color: var(--color-2);
}

#cabecalho .nav .nav-link {
    font-size: 15px;
}

.card {
    margin-top: 40px;
}

.btn-cadastrar:hover {
    background-color: var(--CaputMortuum);
    color: white;
}

body {
    min-height: 100vh;
    position: relative;
    padding-bottom: 60px;
    background-color: var(--FairPink) !important;
}